<div class="align-items-center default-container">
    <div class="col-lg-5">
      <div class="contact-card">
        <img src="../../assets/vedant-profile.jpg" alt="Contact Image" class="contact-image">
        <h2 class="contact-title">
          <span class="white-highlight">&lt;</span>
          vedant_dabhade
          <span class="white-highlight">/&gt;</span>
        </h2>
        <h1 class="default-highlight">SOFTWARE DEVELOPER</h1>
  
        <div class="media-content">
          <div class="media-icons">
            <div class="media-icon">
              <a href="https://www.linkedin.com/in/vedant-dabhade-870b6925a/" target="_blank" class="a-green">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
            <div class="media-icon">
              <a href="https://github.com/Vedant1805" target="_blank" class="a-green">
                <i class="fab fa-github"></i>
              </a>
            </div>
            <div class="media-icon">
              <a href="mailto:vedantdabhade174@gmail.com" class="a-green">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
  
        <p class="contact-paragraph">
          I’m passionate about building clean, scalable applications with .NET and Angular. Whether you're a recruiter or a fellow developer, feel free to connect —
          <span class="default-highlight">let’s collaborate and build something impactful</span>.
        </p>
        
        <button>
          <a href="https://www.linkedin.com/in/vedant-dabhade-870b6925a/" target="_blank" class="a-green">
            > DM me on LinkedIn
          </a>
        </button>
      </div>
    </div>
  </div>
  