<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Vedant Dabhade, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
          I’m a Computer Engineer passionate about building scalable, secure, and high-performance web applications using .NET, Angular, and modern software architecture.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  